@font-face {
    font-family: arhivoBlack;
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
  }
  
  @font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: robotoBlack;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
  }
  h1{
      display: inline;
      
  }
.canvas{
    margin-left: 500px;
    position: fixed;
    display: flex;
    margin-top: 70px;
}  
body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    font-family: arhivoBlack;
    background: url(../images/triangles.png) no-repeat center;
  }
  
  nav {
    border-bottom: 2px solid #ff330d;
    position: fixed;
    display: flex;
    align-items: center;
    font-family: arhivoBlack;
    background: #ffffff;
    min-height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(255, 51, 13, 0.3);
  }
  
  .navigation {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 85%;
  }
  
  .navigation .logo a {
    color: #111111;
    text-decoration: none;
  }
  
  .nav-items ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    list-style: none;
  }
  
  .nav-items ul li {
    cursor: pointer;
  }
  
  .nav-items ul li a {
    color: #111111;
    text-decoration: none;
  }
  
  .nav-items ul li a:hover {
    border-bottom: 2px solid #ff330d;
    border-radius: 2px;
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
  }
  
  .menu-line {
    width: 30px;
    height: 4px;
    background-color: #111111;
    margin: 6px 0;
    border-radius: 20px;
  }


td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 250px;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 330px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}
#but{
    margin-left: 730px;
    height: 30px;
    width: 80px;
    
}